/* Estilos para la barra lateral (sidebar) */
.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%; /* Ajusta este valor según la altura de tu navbar */
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 800;
}

.sidebar h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar .sidebar-section {
  margin-bottom: 30px;
  margin-top: 20px; /* Agrega un margen superior a cada sección */
}

.sidebar .sidebar-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.sidebar .sidebar-section ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-section ul li {
  margin-bottom: 10px;
}

.sidebar .sidebar-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.sidebar .sidebar-section ul li a:hover {
  text-decoration: underline;
}

/* Admin Form CSS */
.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-navbar {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-main {
  display: flex;
  flex: 1;
}

.admin-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambiar a flex-start para alinearse al inicio */
  padding: 20px;
  overflow-y: auto;
}

.admin-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%; /* Asegúrate de que el formulario tome el 100% del contenedor */
  margin-bottom: 40px; /* Agregar espacio entre los formularios */
}

.form-container {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-row label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}
