/* src/assets/styles/admin.css */
.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .admin-product-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    border: 1px solid #000; /* Añadir borde negro */
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-row label {
    margin-bottom: 5px;
  }
  
  .form-row input,
  .form-row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  