/* src/assets/styles/home.css */

/* Estilos para la página principal */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 20px;
}

.featured-products-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; /* Ajusta esto según el tamaño deseado */
  box-sizing: border-box;
  flex-wrap: wrap; /* Para permitir el ajuste en pantallas más pequeñas */
}

.featured-product-card {
  flex: 1;
  margin: 10px;
  max-width: 300px; /* Ajusta esto según el tamaño deseado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
  border-radius: 10px; /* Añade borde redondeado */
  overflow: hidden; /* Asegura que el contenido no sobresalga */
  transition: transform 0.3s, box-shadow 0.3s; /* Transición para sombra y escala */
  text-align: center; /* Centra el texto */
  padding: 10px; /* Añade relleno */
}

.featured-product-card img {
  width: 100%;
  height: auto;
}

.featured-product-card:hover {
  transform: scale(1.05); /* Efecto de hover para aumentar la escala */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

.featured-product-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.featured-product-description {
  font-size: 0.9em;
  margin-top: 5px;
  color: #555; /* Color de texto gris */
}

.how-to-buy {
  text-align: center;
  margin: 40px 0;
}

.how-to-buy-header {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Para que los elementos se ajusten en pantallas más pequeñas */
}

.step {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
}

.step-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.step-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.step-description {
  font-size: 1em;
  color: #666666;
}

.section-divider {
  margin: 40px 0;
  border-top: 2px solid #e0e0e0;
}
